.menu_btn {
  border: none;
  outline: none;
  padding: 10px 16px;
  background-color: #f1f1f1;
  cursor: pointer;
}

.upload-video input{
	padding: 6px 50px;
	margin-left: 5%;
	width: 70%;
}
.upload-video textarea{
	width: 90%;
	padding: 15px;
    margin-left: 5%;
    border: none;
	resize: none;
	min-height: 200px;
}
.dropdown {
  position: relative;
  display: inline-block;
  top: 0px;
  
}
.dropdown_content {
  display: none;
  position: absolute;
  z-index: 2;
  margin: 0px 0px 0px -3%;
  background-color: #f1f1f1;
  box-shadow: 0px 8px 19px 0px rgba(0,0,0,0.2);
}
.dropdown_content a{
  color: black;
  padding: 12px 18px;
  text-decoration: none;
  display: block;
}
.dropdown:hover .dropdown_content{
	display: block;
}
.dropdown_content a:hover {background-color: #ddd;}
.dropdown_content a:active {background-color: #ddd; color: red;}

.active, .menu_btn:hover {
  background-color: #666;
  padding-left: 5px;
  color: white;
}
.video_container{
	position: relative;
	border: 1px solid;
	height: 30%;
	margin-top: 2%;
	width: 70%;
	margin-left: 20%;
	box-shadow: 5px 10px #888888;
}
#title {
	padding: 9px;
	width: 40%;
}
#textarea{
  width: 90%;
  padding: 15px;
  margin-left: 5%;
  border: none;
  background: #f1f1f1;
  resize: none;
  min-height: 200px;
}
#myDiv {
	position: fixed;
	border: line;
	padding: 10px;
	border: 1px solid;
	box-shadow: 4px 7px #888888;
}
#myDIV #menu_div{
	position: relative;
	float: right;
}
#myinput {
	position: absolute;
	margin-left: -150%;
	width: 150%;
	padding: 8px;
}
#up:hover {
	background: blue;
}
#out:hover {
	background: red;
}
#in:hover {
	background: green;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
body {
  width: 100vw;
  height: 100vh;
  background: #f2f4f6;
}
ul {
  list-style: none;
}
.context-menu { 
  position: relative;
  float: right;
  margin-right: -22%;
  margin-top: 1.5%;
  width: 400px;	  
} 
.menu {
  display: none;
  z-index: 1;
  position: absolute;
  flex-direction: column;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgb(64 64 64 / 5%);
  
}
.menu  > a {
  font: inherit;
  border: 0;
  padding: 10px 30px 10px 15px;
  width: 100%;
  display: flex;
  align-items: center;
  text-decoration: unset;
  color: #000;
  font-weight: 500;
  transition: 0.5s linear;
  -webkit-transition: 0.5s linear;
  -moz-transition: 0.5s linear;
  -ms-transition: 0.5s linear;
  -o-transition: 0.5s linear;
}
.menu > a:hover {
  background:#f1f3f7;
  color: #4b00ff;
}
.menu  > a > i {
  padding-right: 10px;
}
	
.upload-video {
	width: 70%;
	margin-left: 15%;
}

#video-file {
	margin-left: 5%;
}
.vid_description {
	float: right;
	width: 40%;
	text-align: justify;	
}
.vid_description p{
	overflow: hidden;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
}
.image_container {
	margin-left: 20%;
}
.img {
	position: relative;
	cursor: pointer;
}
.title {
	display: none;
	position: relative;
	margin-left: 2.5%;
	width: 15%;
	height: 30%;
	background: white;
}
.image_ls:hover + .title{
	display: block;
	transition: 1.0s linear;
}
.settings_nav {
	width: 200px;
	height: 100%;
	background: grey;
	border-radius: 12px;
}
.set_nav_cont {
	text-align: center;
}
.set_nav_cont a{
	display: block;
	margin-top: 10%;
	width: 90%;
	height: 70px;
	border: line;
	text-decoration: none;
	font-size: 20px;
}
.set_nav_cont a:hover{
	background: blue;
	color: white;
}
.set_cont {
	margin-left: 20%;
}
#changepass {
	position: absolute;
	top: 5%;
	margin-left: 10%;
}
.change_pass_form {
	position: relative;
	margin-left: 3%;
}
.personal_dat {
	position: absolute;
	top: 5%;
	margin-left: 10%;
}
.home_nav {
	position: absolute;
	top: 10%;
	width: 200px;
	height: 50%;
	border-radius: 12px;
	box-shadow: 5px 10px #888888;
}
.home_nav_cont a{
	text-align: center;
	display: block;
	margin-top: 10%;
	width: 90%;
	height: 70px;
	border: line;
	text-decoration: none;
	font-size: 20px;
}
.home_nav_cont a:hover{
	background: blue;
	color: white;
}

.active {
	background: blue;
}
.vid_btn_all {
	position: relative;
}
.vid_btn_one {
	margin-left: 50%;
}
.vid_btn_one button{
	margin-left: 5%;
	padding: 4px 9px;
	text-decoration: none;
}
.vid_btn_one button:hover{
	background: #ddd;
}
.comment {
	width: 50%;
	border-radius: 6px;
}
.comment textarea{
  width: 90%;
  padding: 15px;
  margin-left: 5%;
  border: none;
  background: #f1f1f1;
  resize: none;
  min-height: 100px;
}
.comments_all {
	position: absolute;
	background: white;
	width: 90%;
	margin-left: 3%;
	border-radius: 5px;
}
.comm_btn {
	float: right;
}
.comm_btn button{
	padding: 8px;
}
.alert_succes {
	width: 20%;
	color: white
	background: green;
	margin-left: 45%;
	border-radius: 8px;
}
.alert_content {
}
.image_detail_container {
	position: relative;
	z-index: 2;
	border: 5px 6px;
	margin: 5% auto;
	width: 55%;
	height: 500px;
	background: white;
	border-radius: 10px;
}
.image_detail_container h4{
	margin-left: 5%;
	margin-top: 2%;
	font-size: 23px;
}
.image_content {
	position: absolute;
	width: 100%;
	height: 100%;
}
.actual_image {
	float: left;
	height: 80%;
	width: 50%;
}
.actual_image img{
	width: 100%;
}
.actual_content {
	position: absolute;
	right: 0;
	text-align: right;
	height: 80%;
	width: 50%;
}
.new_question input{
	padding: 7px 20px;
	width: 80%;
	margin-left: 5%;
}
.new_question button{
	padding: 7px 20px;
	width: 80%;
	margin-left: 10%;
}
.new_question textarea{
	resize: none;
	padding: 15px;
	width: 50%;
	margin-left: 0.5%;
	margin-top: 2%;
}
.question_container {
	position: relative;
	border: 1px solid;
	height: 40%;
	margin-top: 2%;
	width: 65%;
	margin-left: 10%;
	box-shadow: 3px 7px #888888;
	border-radius: 8px;
}
.question_description {
	position: absolute;
	height: 0;
	width: 100%;
}
.all_answers {
}
.all_answers + .answer{
}
.answer_form textarea{
	resize: none;
	width: 100%;
	height: 30%;
}
.answer_form button{
	float: right;
	padding: 10px;
}