<html>
<title>SIGN UP</title>
<body>
<div class="container">
  <div class="row">
    <div class="col-12">
      <h2 class="my-5">Sign up</h2>
	  {{ error }}
      <form method="post">
        {% csrf_token %}
        <div class="form-group">
          {{ form.username.label_tag }}
          <input type="text" class="form-control {% if form.username.errors %}is-invalid{% endif %}" id="id_username"
            name="username" value='{{ form.username.value|default:"" }}'>
          <small class="text-muted">{{ form.username.help_text }}</small>
          {% if form.username.errors %}
          <div class="invalid-feedback">{{ form.username.errors }}</div>
          {% endif %}
        </div>

        <div class="form-group">
          {{ form.email.label_tag }}
          <input type="email" class="form-control {% if form.email.errors %}is-invalid{% endif %}"
            id="email" name="email" value='{{ form.email.value|default:"" }}'>
          <small class="text-muted">{{ form.email.help_text }}</small>
          {% if form.email.errors %}
          <div class="invalid-feedback">{{ form.email.errors }}</div>
          {% endif %}
        </div>
		
		<div class="form-group">
          {{ form.gender.label_tag }}
          <select class="form-control {% if form.gender.errors %}is-invalid{% endif %}"
            id="gender" name="gender" value='{{ form.gender.value|default:"" }}'>
			<option value="">........</option>
			<option value="Male">Male</option>
			<option value="Female">Female</option>
			<option value="Other">Other</option>
		  </select>
          <small class="text-muted">{{ form.gender.help_text }}</small>
          {% if form.gender.errors %}
          <div class="invalid-feedback">{{ form.gender.errors }}</div>
          {% endif %}
        </div>

        <div class="form-group">
          {{ form.password.label_tag }}
          <input type="password" class="form-control {% if form.password.errors %}is-invalid{% endif %}"
            id="password" name="password" value='{{ form.password.value|default:"" }}'>
          <small class="text-muted">{{ form.password.help_text }}</small>
          {% if form.password.errors %}
          <div class="invalid-feedback">{{ form.password.errors }}</div>
          {% endif %}
        </div>
        <button type="submit" class="btn btn-primary">Sign up</button>
      </form>
	  <p>Already have an account? <a href="{% url 'login'%}">Login</a></p>
    </div>
  </div>
  </div>
</body>
</html>